<div>
  <p>Hello, {{firstName}}.</p>
  <p style='color: blue; font-style: italic'>
    Your publisher account @{{companyName}}
    has been activated. You can now
    <a target='_blank' href={{clientLoginLink}}>login</a>
    to the publisher dashboard.
  </p>
</div>